:root {
  --color-accent: rgb(43, 101, 180);
  --color-highlight: rgb(77, 142, 234);
  --color-black: rgb(20, 29, 41);;
  --color-white: rgb(252, 253, 255);
  
  --color-yellow-light: #FFFDC4;
  --color-yellow-dark: #8A8227;

  --color-blue-light: #C6E8FD;
  --color-blue-dark: #357A8A;
  
  --color-purple-light: #E9BFFB;
  --color-purple-dark: #6E1287;

  --color-orange-light: #fbdcbf;
  --color-orange-dark: #874312;

  --color-green-light: #effbbf;
  --color-green-dark: #6c8712;

  --color-pink-light: #fbbfe4;
  --color-pink-dark: #87124c;

  --color-gray-light: #DEDEDE;
  --color-gray-dark: #ACACAC;

  --color-danger: #B31C09;

  --font-default: "Merriweather Sans", sans-serif;
  --font-default: "Montserrat", sans-serif;

  font-optical-sizing: auto;
  
  --radius: 1rem;
  --box-shadow: 0px 0px 10px rgba(49, 72, 105, 0.5);

  --ease-out-elastic: cubic-bezier(0.34, 1.56, 0.64, 1);
}




body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  inset: 0px;
  padding: 0px;
  
  width: 100%;
  height: 100%;

  font-family: var(--font-default);
  background: var(--color-white);
  color: var(--color-black);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "search"
    "main"
    "nav"
}

#header {
  background: var(--color-black);
  color: var(--color-white);

  grid-area: search;
  
  padding: .5rem;
  padding-bottom: 1.5rem;
  position: relative;
  overflow: visible;
  line-height: 1.2;
}

#header hgroup {
  margin-block: .5rem;
}

#header h1, h2, h3 {
  font-weight: 900;
}

#header .logo {
  width: 10rem;
}

.form-controls {
  display: flex;
  gap: .5rem;
  position: relative;
  padding-inline: .5rem;
}

.form-controls > * {
  box-shadow: var(--box-shadow);
}



#nav {
  background: var(--color-black);
  color: var(--color-white);

  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: .5rem;
}

.nav-button {
  text-align: center;
  cursor: pointer;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.nav-button i {
  display: block;
  font-size: 1.5rem;
  padding: .25rem;
  margin: .25rem;
  width: 8rem;
  margin: .25rem auto;
  border-radius: var(--radius);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.nav-button.active i {
  background: var(--color-accent);
  
  
}

.nav-button:hover i {
  background: var(--color-highlight);
  color: var(--color-white);
}




#map {
  grid-area: main;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

#viewer {
  margin: 0px;
  inset: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background: rgba(0,0,0,.8);
  /* display: none; */
  color: var(--color-white);
  padding: 1rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
  grid-template-areas: 
    "header"
    "viewer";
}

#viewer a, #viewer button {
  color: inherit;
  background: none;
  border: none;
  text-decoration: none;
  line-height: 1.5rem;
  cursor: pointer;
}



#viewer iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}


#results-holder {
  overflow: hidden;
  height: calc(100% + 1.5rem);
  margin-top: -1.5rem;
  grid-area: main;
  z-index: 1;
}


#results {
  grid-area: results;
  overflow: hidden;

  height: 100%;
  width: 200%;

  display: grid;
  grid-template-columns: 50% 50%;
  translate: 0% 0%;
  transition: translate .4s ease-in-out;
}

#results:has(:target) {
  translate: -50% 0%;
}


#list {
  pointer-events: all;
  overflow: hidden;
}


.layout-controls-content {
  gap: 60vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "controls"
    "content";
}

#facilities {
  scroll-behavior: smooth;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}




.facility-card {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  min-width: 350px;
  flex: 0 0 auto;
  padding: .5rem;
  overflow: hidden;
  scroll-margin-top: 2rem;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
}

.facility-card:target {
  border-color: var(--color-accent);
}

.facility-card:hover {
  background: #EEEEEE;
  
}

.facility-card__link::after {
  content:'';
  display: block;
  position: absolute;
  inset: 0px;
}

.facility-card__heading {
  text-wrap: pretty;
}

.facility-card__echo-link {
  text-align: right;
}

.facility-detail__holder {
  background: var(--color-white);
}

.facility-detail {
  overflow: scroll;
  max-height: 100%;
  pointer-events: all;
  padding-inline: .5rem;
}

.facility-detail__hero {
  object-fit: cover;
}

.permit {
  font-size: .75rem;
  background: var(--color-blue-light);
  color: var(--color-blue-dark);
  padding: .5rem;
  border-radius: 1.5rem;
  margin: 0px;
}

.permit--air {
  background: var(--color-yellow-light);
  color: var(--color-yellow-dark);
}

.permit--water {
  background: var(--color-blue-light);
  color: var(--color-blue-dark);
}

.permit--waste {
  background: var(--color-purple-light);
  color: var(--color-purple-dark);
}

.permit--hazardous {
  background: var(--color-orange-light);
  color: var(--color-orange-dark);
}

.permit--chemical {
  background: var(--color-green-light);
  color: var(--color-green-dark);
}

.permit--toxins {
  background: var(--color-pink-light);
  color: var(--color-pink-dark);
}

.permit--terminated {
  background: var(--color-gray-light);
  color: var(--color-gray-dark);
}

.permit--violation {
  background: var(--color-danger);
  color: var(--color-white);
}

.facility-detail .permit {
  border-radius: .5rem;
}

input.input {
  background: var(--color-white);
  border: none; 
  padding: .5rem 1rem;
  border-radius: 2rem;
  height: 2.5rem;
}

button.button, a.button {
  display: flex;
  align-items: center;
  background: var(--color-white);
  color: var(--color-accent);
  border: none;
  padding: .5rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: .75rem;
  line-height: 1rem;
  gap: .25rem;
  height: 2.5rem;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.button .fa {
  font-size: 1rem;
}

.button:hover {
  background: var(--color-highlight);
  color: var(--color-white);
}



@media screen and (min-width:900px) {
  #app {
    grid-template-columns: min(40vw, 450px) 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "search nav"
      "results main";
  }


  #results-holder {
    overflow: hidden;
    height: calc(100% + 1rem);
    margin-top: -1.5rem;
    grid-area: results;
    border-radius: 1rem;
  }

  #results {
    height: 100%;
    width: 200%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    translate: 0% 0%;
    transition: translate .2s ease-in-out;
  }

  #results:has(:target) {
    translate: -50% 0%;
  }

  .layout-controls-content {
    gap: 1rem;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "controls"
      "content"; 
  }

  #list {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
  }

  #facilities {
    flex-direction: column;
    padding-bottom: 200px;
    padding-inline: .5rem;
  }

  #facility {
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .facility-detail__hero {
    margin-top: -2rem;
    margin-bottom: 1rem;
  }

  #nav {
    background: var(--color-black);
    color: var(--color-white);    
    display: flex;
    align-items: center;
    gap: min(2vw, 3rem);
    padding-left: 1rem;
  }

  #map::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 1rem;
    background: linear-gradient(90deg, var(--color-black), transparent);
    opacity: .1;
  }

  .nav-button {
    padding: .25rem 1rem;
    display: flex;
    gap: .5rem;
    line-height: 1.5rem;
    white-space: nowrap;
    border-radius: 2rem;
  }


  .nav-button i {
    display: inline-block;
    font-size: 1.5rem;
    padding: unset;
    margin: unset;
    width: auto;
  }

  .nav-button:hover i {
    background: unset;
    color: unset;
  }

  .nav-button.active {
    background: var(--color-accent);
  }

  .nav-button:hover, .nav-button.active:hover {
    background: var(--color-highlight);
    color: var(--color-white);
  }
}

/*** TEXT ***/

.text > * + * {
  margin-top: .5rem;
}

.text p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}


.text a {
  color: var(--color-accent);
  transition: color .2s ease-in-out;
  cursor: pointer;
}

.text a:hover {
  color: var(--color-highlight);
}

.text ul {
  padding: 0rem 1.5rem;
}

.text ul li {
  margin-bottom: .5rem;
}

h3 a {
  color: var(--color-black);
  text-decoration: none;
}

.text-detail {
  font-size: .8rem;
  font-weight: 500;
}

.text-delicate {
  font-weight: 100;
}

strong.text-detail, .text-detail strong {
  font-weight: 700;
}


.color-gray-dark {
  color: var(--color-gray-dark)
}

.is-hidden {
  display: none;
}



.permit-status {
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-accent);
  font-weight: bold;
  padding: .25rem;
  font-size: .75rem;
}


.facility-card__attachment {
  cursor: pointer;
}





.map-marker {
  width: 24px;
  height: 24px;
  background: url("../img/marker-dot.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.map-marker--alert {
  width: 32px;
  height: 32px;
  background-image: url("../img/marker-dot-alert.png");
  z-index: 1;
}

.map-marker--current {
  background-image: url("../img/marker-current.png");
  width: 32px;
  height: 40px;
  margin-top: -8px;
  z-index: 1;
}

.map-marker:hover {
  z-index: 2;
}


.map-marker--alert.map-marker--current {
  background-image: url("../img/marker-current-alert.png");
}

.map-marker__label {
  font-family: var(--font-default);
  line-height: 1;
  font-weight: 900;
  display: none;
  position: absolute;
  width: max-content;
  max-width: 200px;
  text-wrap: pretty;
  z-index: 5;
  text-align: center;

  left: 50%;
  top: -1rem;
  translate: -50% -100%;
  padding: .5rem;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: .25rem;
}

.map-marker__label::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  rotate: 45deg;
  translate: -50% 50%;
  background: var(--color-white);
  left: 50%;
  bottom: 0px;

}

.map-marker:hover .map-marker__label {
  display: block;
}

.map-marker--current .map-marker__label {
  display: block;
}

.map-marker--alert .map-marker__label {
  background: var(--color-danger);
  color: var(--color-white);
}

.map-marker--alert .map-marker__label::after {
  background: var(--color-danger);
}