:root {
  --color-accent: rgb(43, 101, 180);
  --color-black: #222222;
  --color-white: #FFFFFF;
  
  --color-yellow-light: #FFFDC4;
  --color-yellow-dark: #8A8227;

  --color-blue-light: #C6E8FD;
  --color-blue-dark: #357A8A;
  
  --color-purple-light: #E9BFFB;
  --color-purple-dark: #6E1287;

  --color-gray-light: #DEDEDE;
  --color-gray-dark: #ACACAC;

  --color-danger: #B31C09;

  --font-default: "Merriweather Sans", sans-serif;

  font-optical-sizing: auto;
  
  --radius: 1rem;
  --box-shadow: 0px 0px 10px rgba(43, 101, 180, .5);
}


/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select,
input[type="date"],
input[type="time"] {
  font: inherit;
  line-height: normal;
  ;
}

input::-webkit-datetime-edit {
  display: block;
  padding: 0;
}

input,
textarea,
select,
input[type="date"],
input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 0px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}







body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  inset: 0px;
  padding: 0px;
  
  width: 100%;
  height: 100%;

  font-family: var(--font-default);

  background: var(--color-white);
  color: var(--color-black);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "search"
    "content"
    "nav"
}

#header {
  background: var(--color-accent);
  color: var(--color-white);

  grid-area: search;
  z-index: 10;

  
  padding: .5rem;
  position: relative;
  overflow: visible;
}

#search {
  display: grid;
  grid-template-columns: 1fr 2rem;
  gap: 1rem;
  position: relative;
  margin-bottom: -1.5rem;
}

#search > * {
  box-shadow: var(--box-shadow);
}



#nav {
  background: var(--color-black);
  color: var(--color-white);

  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: .5rem;
}

.nav-button {
  text-align: center;
}

.nav-button i {
  display: block;
  font-size: 1.5rem;
  padding: .25rem;
  margin: .25rem;
  width: 8rem;
  margin: .25rem auto;
}

.nav-button.active i {
  background: var(--color-accent);
  border-radius: var(--radius);
}




#content {
  grid-area: content;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "main"
    "results";

  pointer-events: none;
}




#map {
  grid-area: content;
  margin: 0px;
}

#viewer {
  margin: 0px;
  inset: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  background: rgba(0,0,0,.5);
  display: none;
}

#results {
  grid-area: results;
  display: flex;
  gap: 1rem;
  pointer-events: all;
  padding: .5rem;
  padding-top: 2rem;
  scroll-behavior: smooth;
  overflow: scroll;
}





.facility-card {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  min-width: 350px;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  flex: 0 0 auto;
  padding: .5rem;
  overflow: hidden;
}

.facility-card:target {
  border-color: var(--color-accent);
}

.facility-card:target .is-targeted {
  display: inherit;
}

.facility-card__heading {
  text-wrap: pretty;
}

.facility-card__echo-link {
  text-align: right;
}


.is-targeted {
  display: none;
}

.permit {
  font-size: .75rem;
  background: var(--color-blue-light);
  color: var(--color-blue-dark);
  padding: .5rem;
  border-radius: 1.5rem;
  margin: 0px;
}

.permit--air {
  background: var(--color-yellow-light);
  color: var(--color-yellow-dark);
}

.permit--water {
  background: var(--color-blue-light);
  color: var(--color-blue-dark);
}

.permit--waste {
  background: var(--color-purple-light);
  color: var(--color-purple-dark);
}

.permit--terminated {
  background: var(--color-gray-light);
  color: var(--color-gray-dark);
}

.permit--violation {
  background: var(--color-danger);
  color: var(--color-white);
}

.facility-card:target .permit {
  border-radius: .5rem;
}

input.input {
  background: var(--color-white);
  border: none; 
  padding: .5rem 1rem;
  border-radius: 2rem;
}

button.button {
  background: var(--color-white);
  color: var(--color-accent);
  border: none;
  padding: .5rem;
  aspect-ratio: 1;
  border-radius: 2rem;
}



@media screen and (min-width:900px) {
  #app {
    grid-template-columns: max(450px, 10vw) 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "search nav"
      "content content";
  }

  #content {
    grid-template-rows: unset;
    grid-template-columns: max(450px, 10vw) 1fr;
    grid-template-areas:
      "results main";
    overflow: hidden;
  }

  #results {
    flex-direction: column;
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    
  }

  #nav {
    background: var(--color-black);
    color: var(--color-white);    
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 1rem;
  }


  .nav-button {
    padding: .25rem 1rem;
    display: flex;
    gap: .5rem;
    line-height: 1.5rem;
  }

  .nav-button i {
    display: inline-block;
    font-size: 1.5rem;
    padding: unset;
    margin: unset;
    width: auto;
  }

  .nav-button.active {
    background: var(--color-accent);
    border-radius: 2rem;
  }
}

/*** TEXT ***/

.text a {
  color: var(--color-accent);
}

h3 a {
  color: var(--color-black);
  text-decoration: none;
}

.text-detail {
  font-size: .75rem;
  font-weight: 300;
}

strong.text-detail, .text-detail strong {
  font-weight: 700;
}


.color-gray-dark {
  color: var(--color-gray-dark)
}