.facility-card {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  min-width: 350px;
  flex: 0 0 auto;
  padding: .5rem;
  overflow: hidden;
  scroll-margin-top: 2rem;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
}

.facility-card:target {
  border-color: var(--color-accent);
}

.facility-card:hover {
  background: #EEEEEE;

}

.facility-card__link::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0px;
}

.facility-card__heading {
  text-wrap: pretty;
}

.facility-card__echo-link {
  text-align: right;
}