---
import "../styles/styles.css";
import App from "../components/app.astro";
---

<html data-theme="light">
  <head>
    <slot name="head" />

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"/>
     -->

    <link
      rel="stylesheet"
      href="./assets/css/fonts/fontawesome/css/solid.min.css"
    />
    
    <link
      rel="stylesheet"
      href="./assets/css/fonts/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/fonts/fontawesome/css/solid.min.css"
    />
  </head>

  <body>
    <App />
  </body>
</html>
