---
import Nav from "./nav.astro";
import Map from "./map.astro";
import Viewer from "./viewer.astro";
import Header from "./header.astro";
import ResponsivePanel from "./responsive-panel.astro";
import FacilityBrowser from "./facility-browser.astro";
---

<main id="app" class="app layout-app" data-app>
  <section class="in-header">
    <Header />
  </section>

  <section class="in-nav">
    <Nav />
  </section>

  <section class="in-main">
    <Map />
  </section>

  <ResponsivePanel class="in-list">
    <FacilityBrowser/>
  </ResponsivePanel>

  <Viewer />
</main>

<style>
  .app {
    position: absolute;
    inset: 0px;
    padding: 0px;

    font-family: var(--font-default);
    background: var(--color-white);
    color: var(--color-black);
  }

  .layout-app {
    display: grid;
  }

  @media screen and (max-width: 900px) {
    .layout-app {
      grid-template-rows: min-content 1fr 0fr min-content;
      grid-template-areas:
        "header"
        "main"
        "list"
        "nav";
    }

    .in-list {
      grid-column: 1;
      grid-row: 2 / span 2;
      pointer-events: none;
      grid-area: "main";
    }
  }

  @media screen and (min-width: 900px) {
    .layout-app {
      grid-template-columns: min(40vw, 450px) 1fr;
      grid-template-rows: min-content 1fr;
      grid-template-areas:
        "header nav"
        "list main";
    }

    .in-list {
      grid-area: list;
    }
  }

  .in-list {
    position: relative;
    z-index: 1;
  }

  .in-main {
    grid-area: main;
  }

  .in-header {
    grid-area: header;
    z-index: 5;
  }

  .in-nav {
    grid-area: nav;
  }

  .overlap-top {
    margin-top: -1.5rem;
    height: calc(100% + 1.5rem);
  }
</style>

<script>
  import { listen } from "../helpers/events";
  import { currentFacilitySlug } from "../helpers/store";

  function setCurrentFacilitySlug() {
    const slug = window.location.hash?.substring(1) || "";
    currentFacilitySlug.set(slug);
  }

  listen("hashchange", setCurrentFacilitySlug);
  setCurrentFacilitySlug();
</script>
