---
import Nav from "./nav.astro";
import Map from "./map.astro";
import Viewer from "./viewer.astro";
import Header from "./header.astro";
import FacilityBrowser from "./facility-browser.astro";
import ResponsiveSheet from "./responsive-sheet.astro";
import HeaderSearch from "./header-search.astro";
---

<main id="app" class="app layout-app" data-app>
  <section class="in-main">
    <Map />
  </section>

  <ResponsiveSheet class="in-list">
    <FacilityBrowser />
  </ResponsiveSheet>

  <section class="in-header">
    <Header>
      <HeaderSearch />
    </Header>
  </section>

  <section class="in-nav">
    <Nav />
  </section>

  <Viewer />
</main>

<style>
  .app {
    position: absolute;
    inset: 0px;
    padding: 0px;

    font-family: var(--font-default);
    background: var(--color-white);
    color: var(--color-black);
    overflow: hidden;
  }

  .layout-app {
    display: grid;
  }

  .in-list {
    position: relative;
  }

  .in-main {
    grid-area: main;
    position: relative;
  }

  .in-header {
    grid-area: header;
  }

  @media screen and (max-width: 900px) {
    .layout-app {
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas:
        "header"
        "main"
        "nav";
    }

    .in-list {
      pointer-events: none;
      grid-area: main;
    }

    .in-nav {
      grid-area: unset;
    }
  }

  @media screen and (min-width: 900px) {
    .layout-app {
      grid-template-columns: min(40vw, 450px) 1fr;
      grid-template-rows: min-content 1fr;
      grid-template-areas:
        "header nav"
        "list main";
    }

    .in-list {
      grid-area: list;
    }

    .in-nav {
      grid-area: nav;
    }
  }
</style>

<script>
  import { listen } from "../helpers/events";
  import { currentFacilitySlug } from "../helpers/store";

  function setCurrentFacilitySlug() {
    const slug = window.location.hash?.substring(1) || "";
    currentFacilitySlug.set(slug);
  }

  listen("hashchange", setCurrentFacilitySlug);
  setCurrentFacilitySlug();
</script>
