---
const { href = undefined, class: classes, ...rest } = Astro.props;
---

{
  href ? (
    <a class:list={["button", classes]} href={href} data-button {...rest}>
      <slot />
    </a>
  ) : (
    <button class:list={["button", classes]} data-button {...rest}>
      <slot />
    </button>
  )
}
