---
const { href = undefined, class: classes, ...rest } = Astro.props;
---

{
  href ? (
    <a class:list={["button", classes]} href={ href } data-button {...rest}>
      <slot/>
    </a>
  ) : (
    <button class="button" data-button {...rest}>
      <slot/>
    </button>
  )
}
