---
import Button from "./button.astro"
import Search from "./search.astro"


---
<div class="in-controls">
  <Search />
</div>

<div class="form-controls in-controls">
  <Button href="#">
    <i class="fa fa-chevron-left"></i> Back To Results
  </Button>
</div>
