---
const { facility = {} } = Astro.props;
const hasAlert = facility.alert || facility.permit_status;
---

{
  hasAlert && (
    <div class="flex gap-tight">
      {facility.alert && (
        <span class="eyebrow" data-type="alert">
          <i class="fa fa-triangle-exclamation" /> Action Alert
        </span>
      )}

      {facility.permit_status && (
        <span class="eyebrow">{facility.permit_status}</span>
      )}
    </div>
  )
}

<style>
  .eyebrow {
    text-transform: uppercase;
    color: var(--color-white);
    background: var(--color-accent);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
  }

  .eyebrow[data-type='alert'] {
    background: var(--color-danger);
  }
</style>
