---
import FacilityCard from "./facility-card.astro";
import data from "../data/data.json";
---

<div class="stack-tight padding-tight" data-facility-list>
  <div class="box swatch-gray-bright align-center">
    <span data-result-count></span>
  </div>

  {data.facilities.map((facility) => <FacilityCard facility={facility} />)}
</div>

<script>
  import { resultCount, totalFacilities } from "../helpers/store";

  const resultCountEl = document.querySelector(
    "[data-facility-list] [data-result-count]"
  );

  resultCount.subscribe((count) => {
    let text = "";

    if (count == totalFacilities.get()) {
      text = `Tracking ${count} facilities`;
    } else if (count == 0) {
      text = `No matching facilities :(`;
    } else if (count == 1) {
      text = `1 matching facility`;
    } else {
      text = `${count} matching facilities`;
    }

    resultCountEl.innerHTML = text;
  });
</script>
