---
import FacilityCard from "./facility-card.astro";
import { data } from "../helpers/store";
---

<div class="stack-tight padding-tight" data-facility-list>
  {data.facilities.map((facility) => <FacilityCard facility={facility} />)}
  <div class="padding-tight align-center">
    <span data-result-count></span>
  </div>
</div>

<script>
  import { resultCount } from "../helpers/store";

  const resultCountEl = document.querySelector(
    "[data-facility-list] [data-result-count]"
  );

  resultCount.subscribe((count) => {
    let text = "";

    if( count == 0 ) {
      text = `No facilities found :(`
    } else if( count == 1 ) {
      text = `1 facility found`;
    } else {
      text = `${count} facilities found`;
    }

    resultCountEl.innerHTML = text
  });
</script>
