---
import FacilityDetail from "./facility-detail.astro";
import FacilityList from "./facility-list.astro";
import PanelStack from "./panel-stack.astro";
---

<PanelStack class="height-full overflow-hidden" data-facility-browser>
  <section class="overflow-scroll padding-responsive">
    <FacilityList />
  </section>

  <section class="overflow-scroll padding-responsive" data-facility-view>
    <FacilityDetail />
  </section>
</PanelStack>

<style>
  .padding-responsive {
    padding-block-end: 10vh;
  }

  @media screen and (min-width: 900px) {
    .padding-responsive {
      padding-top: .5rem;
    }
  }
</style>

<script>
  import { currentFacilitySlug } from "../helpers/store";

  const browserEl = document.querySelector("[data-facility-browser]");
  const viewEl = document.querySelector("[data-facility-view]");

  currentFacilitySlug.subscribe(async (slug) => {
    const view = slug ? "right" : "left";
    browserEl.setAttribute("data-view", view);

    if (!slug) return;

    const response = await fetch(`./facilities/${slug}`);
    const html = await response.text();
    
    viewEl.innerHTML = html;
    viewEl.scrollTop = 0;
  });
</script>
