---
import Button from "./button.astro";
import PanelStack from "./panel-stack.astro";
import Search from "./search.astro";
---

<header class="header">
  <hgroup>
    <a href="https://cleanair.org"
      ><img
        class="logo"
        src="./assets/img/cac-logo.png"
        alt="Clean Air Council Logo"
      /></a
    >
    <h1>Pollution Tracker</h1>
  </hgroup>

  <PanelStack class="header__search | overflow-hidden" data-search-panel>
    <Search />
    <section class="form-controls">
      <Button href="#">
        <i class="fa fa-chevron-left"></i> Back To Results
      </Button>
    </section>
  </PanelStack>
</header>

<style>
  .header {
    background: var(--color-black);
    color: var(--color-white);

    padding: 0.5rem;
    position: relative;
    overflow: visible;
    line-height: 1.2;
  }

  .header hgroup {
    margin-block: 0.5rem;
  }

  .header h1,
  h2,
  h3 {
    font-weight: 900;
  }

  .header .logo {
    width: 10rem;
  }

  .header__search {
    margin-block: -1rem;
    margin-bottom: -2rem;
    margin-inline: -0.5rem;
    width: calc(100% + 1rem);
    padding-block: 1rem;
  }
</style>

<script>
  import { currentFacilitySlug } from "../helpers/store";

  const searchPanelEl = document.querySelector("[data-search-panel]");

  currentFacilitySlug.subscribe(async (slug) => {
    const view = slug ? "right" : "left";
    searchPanelEl.setAttribute("data-view", view);
    console.log(view, slug);
  });
</script>
