<header id="header">
  <hgroup>
    <a href="https://cleanair.org"
      ><img
        class="logo"
        src="./assets/img/cac-logo.png"
        alt="Clean Air Council Logo"
      /></a
    >
    <h1>Pollution Tracker</h1>
  </hgroup>
</header>

<style>
  #header {
    background: var(--color-black);
    color: var(--color-white);

    padding: 0.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    overflow: visible;
    line-height: 1.2;
  }

  #header hgroup {
    margin-block: 0.5rem;
  }

  #header h1,
  h2,
  h3 {
    font-weight: 900;
  }

  #header .logo {
    width: 10rem;
  }
</style>
