<header id="header">
  <hgroup>
    <a href="https://cleanair.org"
      ><img
        class="logo"
        src="./assets/img/cac-logo.png"
        alt="Clean Air Council Logo"
      /></a
    >
    <h1>Pollution Tracker</h1>
  </hgroup>
</header>