---
const { text = "" } = Astro.props;
---

<span data-highlight data-text={text}>{text}</span>

<style is:global>
  [data-highlighted] {
    background-color: yellow;
    padding: 0.125em;
    margin: -0.125em;
  }
</style>

<script>
  const observer = new MutationObserver((records) => {
    for (const record of records) {
      const highlight = record.target.dataset.highlight;
      const text = record.target.dataset.text;
      const newHTML = highlight
        ? text.replace(
            new RegExp(`(${highlight})`, "gi"),
            `<span data-highlighted>$1</span>`
          )
        : text;

      record.target.innerHTML = newHTML;
    }
  });

  observer.observe(document.body, {
    subtree: true,
    attributes: true,
    attributeFilter: ["data-highlight"],
  });
</script>
