<nav class="nav" data-nav>
  <a class="nav-button" data-active>
    <i class="fa fa-location-dot"></i> Explore Permits
  </a>
  <a class="nav-button"><i class="fa fa-certificate"></i> About The Tracker</a>
  <a class="nav-button"><i class="fa fa-hand"></i> Get Involved</a>
</nav>

<style>
  .nav {
    display: flex;
    background: var(--color-black);
    color: var(--color-white);
    height: 100%;
    padding: 0.5rem;
  }

  .nav-button {
    text-align: center;
    cursor: pointer;
    transition:
      color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
    z-index: 0;
  }

  .nav-button i {
    font-size: 1.5rem;
    transition: inherit;
  }

  .nav-button i::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0px;
    border-radius: var(--radius);
    transition: inherit;
    z-index: -1;
  }

  .nav-button[data-active] i::after {
    background: var(--color-accent);
  }

  .nav-button:hover i::after {
    background: var(--color-highlight);
  }

  @media screen and (max-width: 900px) {
    .nav {
      justify-content: space-around;
    }

    .nav-button i {
      position: relative;
      display: block;
      padding: 0.25rem;
      margin: 0.25rem;
      max-width: 8rem;
      margin: 0.25rem auto;
    }
  }

  @media screen and (min-width: 900px) {
    .nav {
      align-items: center;
      gap: min(2vw, 3rem);
      padding-inline-start: 1rem;
    }

    .nav-button {
      position: relative;
      padding: 0.25rem 1rem;
      display: flex;
      gap: 0.5rem;
      line-height: 1.5rem;
      white-space: nowrap;
      border-radius: 2rem;
    }
  }
</style>
