---
import Nav from "../components/nav.astro";
import Header from "../components/header.astro";

const { current } = Astro.props;
---

<main class="layout-page height-full overflow-hidden" data-app>
  <header class="layout-header">
    <Header />
    <Nav current={current} />
  </header>

  <section class="text constrain-default padding-text overflow-scroll">
    <slot />
  </section>
</main>

<style>
  .layout-page {
    display: grid;
    grid-template-rows: min-content 1fr;
    position: relative;
  }

  .padding-text {
    padding-top: 1rem;
    padding-bottom: 10vh;
  }

  @media screen and (min-width: 900px) {
    .layout-header {
      display: grid;
      grid-template-columns: min(40vw, 450px) 1fr;
    }
  }
</style>
