<div id="search" class="search form-controls" data-search>
  <input
    id="query"
    name="query"
    class="input box-shadow"
    autocorrect="off"
    spellcheck="false"
    placeholder="Filter by facility name or address"
    data-search-input
  />
  <button class="search-button" aria-label="Clear search" data-search-clear-button hidden>
    <i class="fa fa-close"></i>
  </button>
</div>

<style>
  .search {
    position: relative;
  }

  .search-button {
    position: absolute;
    background: none;
    border: none;
    right: 0px;
    height: 100%;
    width: 4rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-gray-dark);
    transition: color 0.2s ease-in-out;
  }

  .search-button:hover {
    color: var(--color-black);
  }
</style>

<script>
  import { dispatch } from "../helpers/events";
  import { updateSearchParam } from "../helpers/location";
  import { search } from "../helpers/store";

  const searchEl = document.querySelector("[data-search]");
  const inputEl = searchEl.querySelector("[data-search-input]");
  const clearButtonEl = searchEl.querySelector("[data-search-clear-button]");

  if (inputEl instanceof HTMLInputElement) {
    search.subscribe((query) => {
      inputEl.value = query;
    });

    const updateSearch = () => {
      updateSearchParam("query", inputEl.value);
      dispatch("search", { value: inputEl.value });
      clearButtonEl.toggleAttribute("hidden", !inputEl.value);
    };

    inputEl.addEventListener("input", updateSearch);

    if (clearButtonEl instanceof HTMLButtonElement) {
      clearButtonEl.addEventListener("click", () => {
        inputEl.value = "";
        updateSearch();
      });
    }
  }
</script>
