<div id="search" class="search form-controls" data-search>
  <input
    id="query"
    name="query"
    class="input"
    autocorrect="off"
    spellcheck="false"
    placeholder="Filter by name, permit status, or zip code"
    data-search-input
  />
</div>

<script>
  import { dispatch } from "../helpers/events";
  import { updateSearchParam } from "../helpers/location";

  const inputEl = document.querySelector("[data-search] [data-search-input]");

  inputEl.addEventListener("input", () => {
    updateSearchParam("query", inputEl.value);
    dispatch("search", { value: inputEl.value });
  });
</script>
