---
const { class:classes, ...rest } = Astro.props;
---

<div
  class:list={["sliding-panels height-full overflow-hidden", classes]}
  data-sliding-panels
  {...rest}
  data-view="left"
>
  <div class="panel height-full">
    <slot />
  </div>
</div>

<style is:global>
  .sliding-panels {
    border: 5px dotted green;
    width: 100%;
  }

  .sliding-panels .panel {
    width: 100%;
    display: flex;
    border: 2px solid purple;
    translate: 0% 0%;
    transition: translate 0.2s ease-in-out;
  }

  .sliding-panels .panel > * {
    flex: 0 0 100%;
  }

  .sliding-panels[data-view="right"] .panel {
    translate: -100% 0%;
  }
</style>
