
[class*=grid] {
  --grid-column-count: 100;
  --grid-gap-count: calc(var(--grid-column-count) - 1);
  --grid-total-gap-width: calc(var(--grid-gap-count) * var(--gap));
  --grid-max-width: calc((100% - var(--grid-total-gap-width)) / var(--grid-column-count));
  --grid-min-width: 0px;
  --grid-basis: clamp(min(var(--grid-min-width), 100%), 100%, var(--grid-max-width));
  --gap: 1rem;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-basis), 1fr));
  grid-auto-flow: dense;
}

[class*=grid] > * {
  --columns: 1;
  --rows: 1;
  grid-column: span var(--columns);
  grid-row: span var(--rows);
}

/* GRIDS BY NUMNBER OF COLUMNS */

.grid-two {
  --grid-column-count: 2;
}

.grid-three {
  --grid-column-count: 3;
}

.grid-four {
  --grid-column-count: 4;
}

.grid-five {
  --grid-column-count: 5;
}

.grid-six {
  --grid-column-count: 6;
}

/* GRIDS BY SIZE OF CELL */

.grid-tiny {
  --grid-min-width: 5rem;
}

.grid-small {
  --grid-min-width: 10rem;
}

.grid-medium {
  --grid-min-width: 15rem;
}

.grid-large {
  --grid-min-width: 30rem;
}

.grid-huge {
  --grid-min-width: 40rem;
}
