---
import Search from "./search.astro";
import FacilityCard from "./facility-card.astro";
import FacilityDetail from "./facility-detail.astro";
import Button from "./button.astro";
import { data } from "../helpers/store";
---

<aside class="facility-list" data-facility-list data-view="list">
  <section class="layout-panel">
    <div class="in-controls">
      <Search />
    </div>

    <div
      class="facility-list__results in-content overflow-scroll pad-end bg-white"
    >
      {data.facilities.map((facility) => <FacilityCard facility={facility} />)}
      <div>
        <span data-populate="results"></span> found.
      </div>
    </div>
  </section>

  <section class="layout-panel">
    <div class="form-controls in-controls">
      <Button href="#">
        <i class="fa fa-chevron-left"></i> Back To Results
      </Button>
    </div>

    <div class="in-content overflow-scroll pad-end bg-white" data-facility-view>
      <FacilityDetail />
    </div>
  </section>
</aside>

<style>
  .layout-panel {
    height: 100%;
    gap: 1rem;
    display: grid;
    transition: grid-template-rows 0.2s ease-in-out;
  }

  .facility-list {
    height: 100%;
    display: flex;
    translate: 0% 0%;
    transition: translate 0.2s ease-in-out;
  }

  .facility-list > * {
    flex: 0 0 100%;
  }

  .facility-list[data-view="detail"] {
    translate: -100% 0%;
  }

  .facility-list__results {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  .pad-end {
    padding-block-end: 200px;
  }

  .in-controls {
    grid-area: controls;
    pointer-events: all;
  }

  .in-content {
    grid-area: content;
    pointer-events: all;
  }

  @media screen and (max-width: 900px) {
    .layout-panel {
      grid-template-rows: min-content 1fr 20vh;
      grid-template-areas:
        "controls"
        "viewport"
        "content";
    }

    .facility-list[data-view="detail"] .layout-panel {
      grid-template-rows: min-content 1fr 50vh;
    }
  }

  @media screen and (min-width: 900px) {
    .layout-panel {
      grid-template-rows: min-content 0fr 1fr;
      grid-template-areas:
        "controls"
        "viewport"
        "content";
    }
  }
</style>

<script>
  import { currentFacilitySlug } from "../helpers/store";

  const listEl = document.querySelector("[data-facility-list]");
  const viewEl = document.querySelector("[data-facility-view]");

  currentFacilitySlug.subscribe(async (slug) => {
    const view = slug ? "detail" : "list";
    listEl.setAttribute("data-view", view);

    if (!slug) return;

    const response = await fetch(`./facilities/${slug}`);
    const html = await response.text();

    viewEl.innerHTML = html;
  });
</script>
