---
import "../styles/styles.css";

const { title } = Astro.props;
---

<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>{title} - Clean Air Council</title>

    <slot name="head" />

    <link
      rel="stylesheet"
      href="/assets/css/fonts/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/fonts/fontawesome/css/solid.min.css"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
