---
import "../styles/styles.css";

const { title } = Astro.props;
---

<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>{title} - Clean Air Council</title>
    
    <link
      rel="stylesheet"
      href="/assets/css/fonts/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/fonts/fontawesome/css/solid.min.css"
    />

    <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"
    ></script>
    <link
      href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
